body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #caf0f8;
}
.image-container{
    text-align: center;
}
.image-container img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #00b4d8;
    width: 300px;
    height: 300px;
}
.btn{
    background-color: #03045e;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: #caf0f8;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.5;
}